/*colors*/
:root {
    --blue: #1742B0;
    --orange: #EF6E37;
    --pink: #FFB7C5;
    --white: #ffffff;
    --black: #000000;
}
/*burger */
.home__menu {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 15px;
}

.home__menu--links {
    position: absolute;
    right: 0px;
    height: 35vh;
    top: 0;
    background-color:var(--blue);
    transform: scale(6);
    flex-direction: column;
    align-items: center;
    width: 100vw;
    transform: translateY(-100%);
    padding-left: 0;
    margin: 0;
    z-index: 1;
    transition: 0.5s;
}
.home__menu--links a {
    color: white;
    transition: 0.8s;
    text-decoration: none;
    padding: 1em;
}
.home__menu--links li {
    list-style: none;
    margin: 1em;
    text-align: center;
}
.home__menu--links li:first-child {
    margin-top: 4em;
}
.home__menu--links li a:hover {
    color: white;
    transition: 0.8s;
}
.home__menu__burger {
    display: block;
    cursor: pointer;
    z-index: 1;

}
.home__menu__burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
    transition: ease-in-out 0.3s;
}
.home__menu__burger .home__menu__burger__line2 {
    transition: ease-in-out 0.2s;
}
.nav-active {
    transform: translateY(0%);
    z-index: 1;
    transition: 0.4s;
    display: flex;
}
.home__menu__links img {
    width: 80px;
    height: 80px;
}
.toggle .home__menu__burger__line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: ease-in-out 0.3s;
    z-index: 1;
}
.toggle .home__menu__burger__line2 {
    opacity: 0;
    transition: 0.2s;
    z-index: 1;
}
.toggle .home__menu__burger__line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    transition: ease-in-out 0.3s;
    z-index: 1;
}
/*burger*/
body {
    margin: 0;
}
header {
    background-color: var(--blue);
    height: 80px;
}
header .home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5em;
    align-items: center;
}
.logo {
    margin: 0 15px;
    color: var(--orange);
    font-size: 30px;
    padding-top: 0.1m;
}
h1 {
    position: absolute;
    left: -99999px;
}
.kaves {
    background-color: var(--pink);
    padding: 30px 30px 0 30px;
}
.kaves-vector img {
    height: 100%;
   
}
.kaves-vector {
    height: 170px;
    margin: 0 auto;
    width: fit-content;
}
.kaves-vector--up-down {
    position: absolute;
    left: -9999px;
}
section{
    margin: 5em auto;
}
.kaves-logo {
    margin: 2em auto;
    width: 20em;
}
.kaves-logo img {
    height: 100%;
}
.arabica-robusta figure {
    margin: 3em auto;
    width: 22em;
}
.arabica-robusta img {
    width: 100%;
}
.coffee {
    padding: 0 1em;
}
.coffee--gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 2em;
}
.coffee--gallery::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
.coffee--gallery::-webkit-scrollbar-thumb {
    background: rgb(202, 202, 202);
    border-radius: 1em;
}
.coffee--gallery::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
}
.coffee--gallery figure {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 3em;
}
.coffee--gallery figure a {
    display: block;
    height: 12em;
}
.coffee--gallery figure img {
    height: 100%;
}
.coffee h2 {
    color: var(--orange);
}
.why-us--bg{
    background-image: url(./bg_listy/procmy.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 85em;
    margin: 6em auto;
}
.why-us--gallery {
    position: absolute;
    top: -7em;
}
.why-us--gallery {
    position: absolute;
    top: -7em;
}
.why-us h2 {
    color: var(--orange);
    font-size: 48px;
    text-align: center;
}
.why-us--gallery--card {
    background-color: var(--pink);
    margin: 4em;
    height: 21em;
    position: relative;
    border-radius: 10px;
}
.why-us--gallery {
    display: flex;
    flex-direction: column;
}
.why-us--gallery p {
    padding: 0 2em;
    margin: 0;
} 
.why-us--hash {
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    margin: 2em 0 1em 0;
    font-size: 18px;
}
.why-us figure {
    width: 4em;
    margin: 0 auto;
    position: absolute;
    bottom: 2em;
    transform: translateX(-50%);
    left: 50%;
}
.why-us img {
    width: 100%;
}
.about-us h2 {
    font-size: 64px;
    color: #333;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    width: fit-content;
    margin-left: 0.5em;
}
.about-us p {
    margin: 1em auto;
    text-align: left;
    width: 80vw;
}
.about-us figure {
    width: 80vw;
    margin: 2em auto;
}
.about-us img {
    width: 100%;
}
.about-us .button {
    background-color:var(--orange);
    display: block;
    width: 8em;
    height: 3em;
    border-radius: 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: var(--black);
    text-decoration: none;
}
footer {
    content: "";
    background-image: url(./bg_listy/FOOTER.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 10em;
}
@media (min-width: 768px) {
    .kaves-vector{
        position: inherit;
    }
    .kaves-vector--up-down {
        margin-right: 0;
    }
    .kaves-vector--normal {
        margin-left: 0;
    }
    .kaves {
        padding: 0;
    }
    .kaves-logo {
        width: 30em;
    }
    .kaves-vector--up-down, .kaves-vector--normal {
        height: 14em;
    }
    .arabica-robusta figure {
        width: 40em;
    }
    .coffee figure a {
        height: 20em;
    }
    .coffee .caption {
        font-size: 20px;
        padding-bottom: 0.5em;
    }
    .coffee--gallery {
        justify-content: space-evenly;
        overflow-x: hidden;
    }
    .why-us--gallery {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
    }
    .why-us--gallery--card {
        margin: 2em 0;
        width: 30vw;
    }
    .why-us--bg {
        height: 20em;
    }
    .why-us h2 {
        margin: 3em auto 4em auto;
    }
    .about-us .flex {
        display: flex;
        flex-direction: row;
        padding: 2em;
    }
    .about-us figure {
        margin: 0;
    }
    .about-us p {
        margin: 0 1em 0 0.5em;
    }
    .about-us h2 {
        margin-bottom: 0em;
    }
}