@font-face {
    font-family: "Marion-regular";
    src: url('./fonts/Marion\ Regular/.ttf format')('truetype');
}
@font-face {
    font-family: "Marion-italic";
    src: url('./fonts/Marion\ Italic/.ttf format') ('truetype');
    font-weight: italic; 
    font-style: normal; 
}

@font-face {
    font-family: "Marion-bold";
    src: url('./fonts/Marion\ Bold/.ttf format')('truetype');
    font-weight: bold; 
    font-style: normal;
}

body {
    font-family: "Marion";
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Marion-bold";
}
p {
    font-size: 14px;
}
.why-us p{
    font-weight: bold;
}
.about-us p {
    font-size: 18px;
}
@media (min-width: 768px) {
    .coffee h2 {
        font-size: 40px;
    }
    .about-us h2 {
        font-size: 70px;
    }
}
@media (min-width: 1020px) {
    .coffee .width {
        margin: 0 4em;
    }
    .coffee .caption {
        font-size: 22px;
    }
    .why-us p {
        font-size: 18px;
    }
    .about-us p {
        font-size: 22px;
    }
    .about-us .button {
        width: 10em;
        height: 4em;
        margin-top: 4em;
    }
    .about-us figure {
        width: 50%;
    }
    .about-us p {
        width: 50%;
    }
    .about-us .width {
        margin: 0 5em;
    }
   
}